<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>login</title>
</head>
<body>
  <form action="/" method="post">
    email <input type="text" name="email"> <p></p>
    password <input type="text" name="password"> <p></p>
    <button type="submit">send</button>
  </form>
</body>
</html>